body {
	background-image: url("images/fonfon.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
header {
	background-color: rgba(0, 149, 182);
	border: 10px solid white;
	border-radius: 20px;

}
h1,h2,h4
{
	font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h2{
	color: red;
}